.banners{
    width: 100%;
    height:auto;
    margin-bottom:77px;
    position: relative;
    .talk-to-experts{
        max-width: 1150px;
        width:100%;
        padding:0 15px;
        position: absolute;
        top:180px;
        left:50%;
        transform:translate(-50%, -130px);
        z-index: 2;
        form{
            float: right;
            padding:20px;
            background:$white;
            border-radius: 2px;
            max-width: 350px;
            h2{
                text-transform: uppercase;
                color:$yellow;
                font-weight: 500;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }
            h1{
                font-size: 2rem;
                font-weight: 400;
                color:$black;
                margin-bottom:13px;
            }
            .btn-default{
                background: $yellow;
                &:hover{
                    background: $black;
                    color:$white;
                }
            }
        }
    }
    .item{
        padding-bottom: 130px;
        position: relative;
        &:after{
            content: '';
            display: block;
            width: 30%;
            height: 220px;
            background: #FEB100;
            position: absolute;
            bottom:60px;
            left:0;
            z-index:1;
        }
        img{
            position: relative;
            z-index:3;
        }
        .caption{
            width:100%;
            max-width:1150px;
            position: absolute;
            left: 50%;
            bottom:0;
            transform: translate(-50%, 0);
            padding:0 15px;
            z-index:3;
            article{
                padding:50px;
                max-width:460px;
                background:$black;
                p{
                    color:$white;
                    font-size:3.2rem;
                    font-weight: 500;
                    margin-bottom:20px;
                    position: relative;
                    &:before{
                        content:'';
                        display: block;
                        width: 24px;
                        height:40px;
                        background: $yellow;
                        position: absolute;
                        top:0;
                        left:-50px;
                    }
                }
                a{
                    font-size: 1.4rem;
                    color:$yellow;
                    i{
                        @include transition();
                        margin-left:15px;
                    }
                    &:hover{
                        i{
                            margin-left:20px;
                        }
                    }
                }
            }
        }
    }
    .owl-dots{
        position: absolute;
        bottom: 150px;
        z-index: 1;
        width: 100%;
        text-align: center;
        .owl-dot{
            display: inline-block;
            margin-right:10px;
            span{
                display: block;
                width:14px;
                height: 14px;
                border:2px solid $white;
                border-radius: 50%;
                @include transition();
            }
            &.active{
                span{
                    background:$white;
                }
            }
            &:last-child{
                margin:0;
            }
        }
    }
}