footer{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 70px 0;
    background: $black;
    nav{
        ul{
            li{
                margin-bottom:20px;
                a{
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color:$gray;
                    &:hover{
                        color:$yellow;
                    }
                }
            }
        }
    }
    .contact-info{
        section{
            margin-bottom:20px;
            strong{
                font-size: 1.2rem;
                text-transform: uppercase;
                color: $yellow;
                font-weight: 500;
                margin-bottom: 8px;
                display: inline-block;
            }
            p{
                font-size: 1.4rem;
                color:$gray;
            }
        }
    }
    .newsletter{
        h2{
            font-size: 2.5rem;
            color:$yellow;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .form-control{
            background: transparent;
            border-color: $gray-dark;
        }
        .btn-default{
            color:$white;
            background: $gray-dark;
            &:hover{
                background: $yellow;
                color:$black;
            }
        }
    }
    .copyright{
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 70px;
        font-size: 1.0rem;
    }
}