.container{
    max-width:1150px;
    width:100%;
    margin:0 auto;
    padding:0 15px;
}

.icon-square{
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    border-radius:2px;
    height:40px;
    width:40px;
}

.icon-circle{
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    border-radius:50%;
    height:50px;
    width:50px;
}

.form{
    .form-control{
        width: 100%;
        height: 50px;
        border:1px solid $gray;
        border-radius: 3px;
        margin-bottom:15px;
        padding-left: 15px;
        font-size: 1.4rem;
        font-weight: 400;
        color:$black-light;
        font-family: 'Roboto', sans-serif;
        @include placeholder(){
            font-size: 1.4rem;
            font-weight: 400;
            color:$black-light;
            font-family: 'Roboto', sans-serif;
        }
    }
    .select {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
        overflow: hidden;
        border-radius: 3px;
        border:1px solid $gray;
        margin-bottom:15px;
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: $white;
            background-image: none;
        }
        select {
            width: 100%;
            height: 50px;
            margin: 0;
            padding: 0 0 0 15px;
            color: $black-light;
            font-size: 1.4rem;
            font-weight: 400;
            color:$black-light;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            &::-ms-expand {
                display: none;
            }
        }        
        &:after {
            font-family: 'fontello';
            content: '\e805';
            position: absolute;
            top: 16px;
            right: 15px;
            pointer-events: none;
            @include transition();
            color: $yellow;
        }
    }
}

.btn-default{
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    @include transition();
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border-color:transparent;
    font-size: 1.4rem;
    color:$black;
    padding:0 15px;
}

.media-default{
    margin-bottom:50px;
    h3{
        font-weight: 400;
        font-size: 3.2rem;
        color:$black;
        margin-bottom: 50px;
    }
    .item{
        @include flexbox();
        margin-bottom:40px;
        .icon-circle{
            background:$yellow;
            font-size: 5rem;
            color: $white;
            margin-right: 20px;
        }
        h4{
            font-weight: 500;
            font-size: 2rem;
            color:$black;
            margin-bottom:10px;
        }
        p{
            font-weight: 400;
            font-size: 1.6rem;
            color:$black-light;
            margin-bottom:20px;
        }
        a{
            font-size: 1.4rem;
            color:$black;
            i{
                @include transition();
                color:$yellow;
                margin-left: 20px;
            }
            &:hover{
                color:$yellow;
                i{
                    margin-left: 30px;
                }
            }
        }
    }
}

.highlight-two{
    @include flexbox();
    position: relative;
    margin-bottom: 50px;
    section{
        @include flexbox();
        @include align-items(center);
        width:50%;
        height: 460px;
        .text{
            max-width:calc(100% - 200px);
            h2{
                font-size: 3.2rem;
                font-weight: 500;
                margin-bottom: 20px;
            }
            p{
                font-size:1.6rem;
            }
            .btn-default{
                margin-top:40px;
            }
        }
        &.first{
            background: $black url('../img/layout/mask-manutencao-de-servidores.png') no-repeat center;
            padding-left:50px;
            h2{
                color:$yellow
            }
            .btn-default{
                background: $yellow;
                max-width: 180px;
                color:$black;
            }
        }
        &.last{
            @include justify-content(flex-end);
            background: $yellow url('../img/layout/mask-cabeamento-estruturado.png') no-repeat center;
            h2{
                color:$black;
            }
            .text{
                padding-right: 50px;
                p{
                    color: $white;
                }
            }
            .btn-default{
                background: $black;
                color:$white;
                max-width: 180px;
            }
        }
    }
    img{
        position: absolute;
        top:-73px;
        left:50%;
        transform:translate(-50%, 0);
    }
}

.get-a-quote{
    @include flexbox();
    padding:40px;
    background:$yellow;
    border-radius: 2px;
    position: relative;
    margin-top: 120px;
    margin-bottom: 50px;
    article{
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        width: calc(100% - 330px)
    }
    h5{
        font-size: 2.2rem;
        color: $black;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.4rem;
        color: $white;
    }
    .btn-default{
        background: $white;
        color: $black;
        max-width: 180px;
        margin: 0 60px;
    }
    img{
        position: absolute;
        bottom:0px;
        right: 10px;
    }
}