.header{
    padding:15px 0;
    .container{
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
    }
    .logo{
        max-width: 120px;
    }
    .menu{
        ul{
            @include flexbox();
            @include justify-content(space-between);
            li{
                margin:0 20px 0 0;
                a{
                    font-size:1.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    color:$black;
                    i{
                        color:$yellow;
                    }
                    &:hover{
                        color:$yellow;
                    }
                }
                &:last-child{
                    margin-right:0;
                }
            }
        }
    }
    .contact-info{
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        i{
            background: $yellow;
            color:$white;
            margin-right: 15px;
            font-size: 2.2rem;
        }
        a{
            font-size: 1.2rem;
            color:$black;
            font-weight: 500;
        }
    }
}